{% extends 'super_admin/super_admin_head.html' %}

{% block content %}

{% load static %}

<style>
    /* Custom CSS for the search form */
    form {
        display: flex;
        align-items: center;
    }

    span {
        margin-right: 10px;
    }

    /* Hide the default button style */
    button[type="submit"] {
        background: none;
        border: none;
    }

    /* Responsive styles */
    @media only screen and (max-width: 768px) {
        .row {
            flex-direction: column;
        }
        
        .col-4.col-lg-auto,
        .col-12.col-lg-auto {
            width: 100%;
            margin-bottom: 15px;
        }
    }
</style>

<section class="body">
    <!-- start: header -->
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Subscriptions</h2>
            <div class="right-wrapper text-end">
                <a class="sidebar-right-toggle"><i class="fas fa-chevron-left"></i></a>
            </div>
        </header>

        <!-- start: page -->
        <div class="row">
            <div class="col">
                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                                <div class="row align-items-center mb-3">
                                    <div class="col-12 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                        <form method="post" action="" id="contact-form">
                                            {% csrf_token %}
                                            <div class="form-group d-flex flex-column flex-lg-row align-items-lg-center">
                                                <select name="option" class="form-control form-control-modern mb-2 mb-lg-0">
                                                    <option value="from">Subscribed From</option>
                                                    <option value="upto">Subscribed Till</option>
                                                </select>
                                                <label for="from_date" class="me-lg-2 mb-2 mb-lg-0">&nbsp;From:</label>
                                                <input type="date" class="form-control form-control-modern mb-2 mb-lg-0" required name="from_date">
                                                <label for="to_date" class="me-lg-2 mb-2 mb-lg-0">&nbsp;To:</label>
                                                <input type="date" class="form-control form-control-modern mb-2 mb-lg-0" required name="to_date">
                                                <button type="submit" class="btn btn-primary">
                                                    <i style="color:black" class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    {% if searched %}
                                    <div style="float: right;" class="col-12 col-lg-auto ps-lg-1">
                                        <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                            <h6>{{searched}}</h6>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto ps-lg-1">
                                        <a class="download-btn btn btn-primary"  href="{% url 'download_xml' %}">Download File</a>
                                    </div>
                                    {% endif %}
                                    <!-- Add the Download button -->

                                </div>
                            </div>


                            <div style="width:100%;overflow-x: auto;">
                                <table class="table table-ecommerce-simple table-borderless table-striped mb-0" id="datatable-ecommerce-list" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th width="20%">Customer Name</th>
                                            <th width="20%">Email</th>
                                            <th width="20%">Subscription Date</th>
                                            <th width="20%">End Date</th>
                                            <th width="20%">Transaction ID</th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 250px;">
                                        {% for user in users %}
                                        <tr>
                                            <td><strong style="color: black;">{{user.User_name}}</strong></td>
                                            <td>{{user.User_email}}</td>
                                            <td>{{user.User_Sub.Sub_date}}</td>
                                            <td>{{user.User_Sub.Sub_end}}</td>
                                            <td><span>{{user.User_Sub.Sub_trans_id}}</span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <hr class="solid mt-5 opacity-4">
                            <div class="datatable-footer">
                                <div class="row align-items-center justify-content-between mt-3">
                                    <div class="col-lg-auto text-center order-3 order-lg-2">
                                        <div class="results-info-wrapper"></div>
                                    </div>
                                    <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                        <div class="pagination-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
</section>

<!-- JavaScript code for XML conversion and download -->


{% endblock %}


