{% extends 'super_admin/super_admin_head.html' %}

{% block content %}

{% load static %}

		<section class="body">
			<!-- start: header -->
			<section role="main" class="content-body">
				<header class="page-header">
					<h2>Add Admins</h2>
					<div class="right-wrapper text-end">

						<a class="sidebar-right-toggle" ><i class="fas fa-chevron-left"></i></a>
					</div>
				</header>
					<!-- start: page -->
						<form class="ecommerce-form action-buttons-fixed" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row mt-2">
								<div class="col">
									<section class="card card-modern card-big-info">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-2-5 col-xl-1-5">
													<i class="card-big-info-icon bx bx-box"></i>
													<h2 class="card-big-info-title">General Info</h2>
													<p class="card-big-info-desc">Add here the necessary information of Admin.</p>
												</div>
												<div class="col-lg-3-5 col-xl-4-5">
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Name</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" name="name" required />
														</div>
													</div>
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Email</label>
														<div class="col-lg-7 col-xl-6">
															<input type="email" class="form-control form-control-modern" name="email" required />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end pt-2 mt-1 mb-0">Address</label>
														<div class="col-lg-7 col-xl-6">
															<textarea class="form-control form-control-modern" name="address" required rows="6"></textarea>
														</div>
													</div>
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Official Position</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" name="position" required />
														</div>
													</div>
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Rural Area</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" name="area"  required />
														</div>
													</div>
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Phone Number</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" maxlength="10" name="phone" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required />
														</div>
													</div>

												</div>
											</div>
										</div>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<section class="card card-modern card-big-info">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-2-5 col-xl-1-5">
													<i class="card-big-info-icon bx bx-camera"></i>
													<h2 class="card-big-info-title">Admin Image</h2>
													<h4 class="card-big-info-title" style="color:green;font-size:small">*Optional</h4>
													
												</div>
												<div class="col-lg-3-5 col-xl-4-5">

													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"> Image</label>
														<div class="col-lg-7 col-xl-6">
															<input type="file" class="form-control form-control-modern" name="image" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>

							<br>
							<br>
							<div class="row action-buttons">
								<div class="col-12 col-md-auto">
									<button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" style="background-color:green">
										<i class="bx bx-save text-4 me-2"></i> Add Admin
									</button>
								</div>
								<div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
									<a href="{% url 'super_admin_add_admins' %}" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Cancel</a>
								</div>

							</div>
						</form>
					<!-- end: page -->
				</section>
			</div>
			{% endblock %}