
{% extends 'user/user_head.html' %}

{% block content %}

{% load static %}



        <!-- service-section -->
        <section class="service-section p_relative bg-color-1">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-4.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-5.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred mb_50">
                    <span class="sub-title">Stay Updated</span>
                    <h2>All you need to know, <br />in one touch</h2>
                </div>
                <div class="tabs-box">
                    <div class="tab-btn-box p_relative d_block mb_70 centred">
                        <ul class="tab-btns tab-buttons clearfix">
                            <br>
                            <br>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                        <div class="content_block_two">
                                            <div class="content-box">
                                                <div class="text">
                                                    <h3>Latest News</h3>
                                                    <p>Stay informed and empowered with the latest news and updates in the realm of pension management. Our platform brings you insightful articles, expert opinions, and timely information to keep you in the know about all things related to pension planning, retirement strategies, and financial well-being. Whether you're a retiree, a pre-retiree, or simply interested in staying ahead in the pension landscape, subscribe to our newsletter to receive valuable insights that can shape your retirement journey.</p>
                                        
                                                </div>
                                                <ul class="list-style-one clearfix">
                                                    <li>Timely Updates</li>
                                                    <li>Filtered Relevant News</li>
                                                    <li>Notification</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image_block_two">
                                            <div class="image-box p_relative d_block">
                                                <figure class="image p_relative d_block"><img src="static/assets/images/icons/news_reading.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                        <div class="content_block_two">
                                            <div class="content-box">
                                                <div class="text">
                                                    <h3>Paeditaric Ophthalmology</h3>
                                                    <p>Consectetur adipisicing sed eiusmod tempor incidunt labore dolore magna aliqua enim minim veniam quis nostrud exercitation ulamco laboris nis aliquip exea commodo consequat totam rem aperiam eaque ipsa quae ab illo invet ore veritatis.</p>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acus antium doloremque laudantium.</p>
                                                </div>
                                                <ul class="list-style-one clearfix">
                                                    <li>Treats Minor Illnesses</li>
                                                    <li>Performs Routine Health Tests</li>
                                                    <li>Best Lasik Treatment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image_block_two">
                                            <div class="image-box p_relative d_block">
                                                <figure class="image p_relative d_block"><img src="assets/images/service/service-1.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-3">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                        <div class="content_block_two">
                                            <div class="content-box">
                                                <div class="text">
                                                    <h3>Lenses Transitions</h3>
                                                    <p>Consectetur adipisicing sed eiusmod tempor incidunt labore dolore magna aliqua enim minim veniam quis nostrud exercitation ulamco laboris nis aliquip exea commodo consequat totam rem aperiam eaque ipsa quae ab illo invet ore veritatis.</p>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acus antium doloremque laudantium.</p>
                                                </div>
                                                <ul class="list-style-one clearfix">
                                                    <li>Treats Minor Illnesses</li>
                                                    <li>Performs Routine Health Tests</li>
                                                    <li>Best Lasik Treatment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image_block_two">
                                            <div class="image-box p_relative d_block">
                                                <figure class="image p_relative d_block"><img src="assets/images/service/service-16.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-4">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                        <div class="content_block_two">
                                            <div class="content-box">
                                                <div class="text">
                                                    <h3>Laser Eye Surgery</h3>
                                                    <p>Consectetur adipisicing sed eiusmod tempor incidunt labore dolore magna aliqua enim minim veniam quis nostrud exercitation ulamco laboris nis aliquip exea commodo consequat totam rem aperiam eaque ipsa quae ab illo invet ore veritatis.</p>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acus antium doloremque laudantium.</p>
                                                </div>
                                                <ul class="list-style-one clearfix">
                                                    <li>Treats Minor Illnesses</li>
                                                    <li>Performs Routine Health Tests</li>
                                                    <li>Best Lasik Treatment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image_block_two">
                                            <div class="image-box p_relative d_block">
                                                <figure class="image p_relative d_block"><img src="static/assets/images/icons/news_reading.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-5">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                        <div class="content_block_two">
                                            <div class="content-box">
                                                <div class="text">
                                                    <h3>Vision Correction</h3>
                                                    <p>Consectetur adipisicing sed eiusmod tempor incidunt labore dolore magna aliqua enim minim veniam quis nostrud exercitation ulamco laboris nis aliquip exea commodo consequat totam rem aperiam eaque ipsa quae ab illo invet ore veritatis.</p>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acus antium doloremque laudantium.</p>
                                                </div>
                                                <ul class="list-style-one clearfix">
                                                    <li>Treats Minor Illnesses</li>
                                                    <li>Performs Routine Health Tests</li>
                                                    <li>Best Lasik Treatment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image_block_two">
                                            <div class="image-box p_relative d_block">
                                                <figure class="image p_relative d_block"><img src="static/assets/images/service/service-18.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-section end -->


        {% endblock %}